* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(230, 201, 166);
    margin-left: 5px;
    margin-right: 5px;
}

ul { 
    color: darkblue; 
   
} 
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}